{% extends "base.html" %}

{% block content %}

<section class="w-full sm:w-1/2 h-screen m-auto p-8 sm:pt-10">
    <div class="bg-gradient2 h-1"></div>
    <div class="p-3 rounded shadow-lg">
        <div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full">
                <div class="logo-nav w-32 m-auto mb-6">
                    <a href="{{ url_for('index') }}" aria-label="Home">
                        <img class="h-8 w-auto sm:h-10" src="{{ url_for('static', filename='images/bazinga.png') }}"
                            alt="Logo" />
                    </a>
                </div>
                <h2 class="mb-2 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Log in to your account
                </h2>
                <p class="text-gray-600 text-center">
                    Don't have an account?
                    <a href="{{ url_for('register') }}"
                        class="font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150">Sign
                        up now</a>
                </p>
                <form class="mt-8" action="" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <div>
                        <div class="mb-2">
                            <div class="mb-1">
                                <label class="text-sm font-semibold text-gray-700">Email</label>
                            </div>
                            <div>
                                {{ form.email(class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", placeholder="Email") }}
                            </div>
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            <div class="mb-1">
                                <label class="text-sm font-semibold text-gray-700">Password</label>
                            </div>
                            <div>
                                {{ form.password(class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", placeholder="Password") }}
                            </div>
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mt-6 flex justify-start">
                        <div class="text-sm leading-5">
                            <a href="{{ url_for('password_review') }}"
                                class="font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150">Forgot
                                your password?</a>
                        </div>
                    </div>

                    <div class="mt-6 flex justify-center">
                        <button
                            class="flex rounded-full items-center py-2 px-6 bg-gradient2 focus:outline-none shadow-lg text-white text-2xl"
                            type="submit">
                            <span>Log In</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}