{% extends "base.j2" %}

{% block content %}
<div class="relative overflow-hidden">
    <div class="max-w-screen-xl mx-auto">
        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="navbar-brand">
                    <a href="{{ url_for('index') }}" aria-label="Home">
                        <img class="h-8 w-auto sm:h-10" src="{{ url_for('static', filename='images/bazinga.png') }}"
                            alt="Logo">
                    </a>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
                    {% for message in messages %}
                    <li class="nav-item">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </nav>
        </div>
    </div>
</div>

<main class="flex flex-col">
    {% for show in shows %}
    {% include 'show.j2' %}
    {% endfor %}
</main>
{% endblock %}